* {
    margin: 0;
    padding: 0;
}

body {
    width: 100%;
    color: #333;
    background: #5b5b5b;
    background: #fdd7a7;
    background: #f1aa51;
    font-family: 'Courgette', cursive;
    font-family: 'Handlee', sans-serif;
    font-family: 'Montserrat Alternates', sans-serif;
    font-family: 'Quantico', sans-serif;
    font-family: 'Doppio One', sans-serif;
    font-family: 'Carrois Gothic', sans-serif;
    font-family: 'Titillium Web', sans-serif;
}
.day-container {
}
.miles-planned {
    font-family: 'Handlee', sans-serif;
}
.miles-ran {
    font-family: 'Doppio One', sans-serif;
}

#container {
    width: 1200px;
    margin: auto;
}

#row-container {
    clear: both;
}

.borderless-row {
    width: 1160px;
    margin: auto;
    padding: 10px 0;
    text-align: right;
}

.row {
    width: 1160px;
    margin: auto;
    clear: both;
}

.header-day {
    color: #fff;
    float: left;
    height: 20px;
    text-align: center;
    width: 140px;
}

.day {
    float: left;
    height: 100px;
    padding: 5px;
    position: relative;
    width: 130px;
}

.day-container {
    background: white;
    height: 70px;
    position: relative;
    top: 20px;
}

.past .day-container {
    background: #f8f8f8;
}

.total {
    margin-left: 15px;
}

.date {
    color: #666;
    font-size: 10pt;
    padding: 4px;
    position: absolute;
    right: 5px;
    top: 3px;
}
.past .date {
    color: #555;
}

.today {
    background: #8fc8e0;
}

.miles-ran {
    font-size: 16pt;
    margin: 2px 0px 0px;
    text-align: center;
}
.past .miles-ran {
    color: #222;
}

.miles-planned {
    color: #999;
    font-size: 10pt;
    text-align: center;
    padding-top: 3px;
}

.time {
    color: #999;
    font-size: 10pt;
    text-align: center;
}

.time-pace, 
.time-total {
}

.time-spacer {
    display: inline-block;
    width: 10px;
}

.miles-entry {
    background: #f8f8f8;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    display: none;
    text-align: center;
}

.miles-entry button {
    padding: 2px 5px;
    width: 50px;
    border: 1px solid #ccc;
    background: #fff;
    cursor: pointer;
    color: #999;
}

.miles-entry button:hover {
    color: #8fc8e0;
}

.miles-entry input {
    width: 102px;
    margin: 0 auto;
    display: block;
    border: 1px solid #ccc;
    margin-top: 1px;
}

.miles-entry input:focus {
    outline: none;
}

.goal-entry {
    background: #f8f8f8;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    display: none;
}

.rounded {
    border-radius: 10px;
    border: 1.8px solid #fff;
    height: 97px;
    width: 130px;
    margin: auto;
}

.rounded:hover {
    background: #eea;
    cursor: pointer;
}

.past {
    background: #888;
    background: #c3dde8;
}

.future {
    background: #d1d2d4;
}

.neutral {
    background: #f4efa0;
    background: #c3dde8;
    background: #aaa;
}

.success {
    background: #c3dde8;
    background: #c3dd88;
}

.fail {
    background: #f7acb9;
}

