* {
    margin: 0;
    padding: 0;
}

body {
    width: 100%;
    background: #5b5b5b;
    font-family: 'Courgette', cursive;
    font-family: 'Handlee', sans-serif;
    font-family: 'Montserrat Alternates', sans-serif;
    font-family: 'Quantico', sans-serif;
    font-family: 'Doppio One', sans-serif;
    font-family: 'Carrois Gothic', sans-serif;
    font-family: 'Titillium Web', sans-serif;
}
.day-container {
}
.miles-planned {
    font-family: 'Handlee', sans-serif;
}
.miles-ran {
    font-family: 'Doppio One', sans-serif;
}

#container {
    width: 1200px;
    margin: auto;
}

#row-container {
    clear: both;
}

.borderless-row {
    width: 1120px;
    margin: auto;
    padding: 10px 0;
    text-align: right;
}

.row {
    width: 1120px;
    margin: auto;
    clear: both;
}

.header-day {
    color: #fff;
    float: left;
    height: 20px;
    text-align: center;
    width: 140px;
}

.day {
    float: left;
    height: 100px;
    padding: 5px;
    position: relative;
    width: 130px;
}

.day-container {
    background: white;
    height: 70px;
    position: relative;
    top: 20px;
}

.total {
    width: 138px;
    float: left;
    height: 100px;
    position: relative;
}

.date {
    color: #666;
    font-size: 10pt;
    padding: 4px;
    position: absolute;
    right: 5px;
    top: 3px;
}

.today {
    background: #8fc8e0;
}

.miles-ran {
    font-size: 16pt;
    margin: 2px 0px 0px;
    text-align: center;
}

.miles-planned {
    color: #999;
    font-size: 10pt;
    text-align: center;
    padding-top: 3px;
}

.time {
    color: #999;
    font-size: 10pt;
    text-align: center;
}

.time-pace, 
.time-total {
}

.time-spacer {
    display: inline-block;
    width: 10px;
}

.miles-entry {
    background: #f8f8f8;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    display: none;
    text-align: center;
}

.miles-entry button {
    padding: 3px 5px;
}

.miles-entry input {
    width: 100px;
    margin-top: 3px;
}

.goal-entry {
    background: #f8f8f8;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    display: none;
}

.rounded {
    border-radius: 10px;
    border: 1.8px solid #fff;
    height: 97px;
    width: 130px;
    margin: auto;
}

.rounded:hover, .total:hover {
    background: #f0f0f0;
    cursor: pointer;
}

.past {
    background: #fdd7a7;
}

.future {
    background: #d1d2d4;
}
